@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background:#FFF;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}

.bold {
	font-weight:700;
}

a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
	transition:0.2s all ease;
}
a:hover {
	text-decoration:none;
	color:#f39200;
}
a:active {
	color:#696969;
}
.negative {
	color: #FFFFFF;
}
.negative h1,
.negative h2,
.negative h3,
.negative h4,
.negative h5,
.negative h6 {
	color: #FFFFFF;
}
.negative a:link,
.negative a:visited {
	color: #FFF;
}
.negative a:hover {
	color: #FFF;
	text-decoration: underline;
}
.negative a:active {
	color: #FFF;
}
.button {
	border: 1px solid #e84e1b;
	color: #e84e1b;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	padding: 17px 33px 15px;
	margin: 20px 0;
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.button:hover {
	background: #e84e1b;
	color: #fff;
}
.negative .button {
	border: 1px solid #FFF;
	color: #FFF;
}
.negative .button:hover {
	background: #FFF;
	color: #e84e1b;
	text-decoration: none;
}
.wrepper {
	width: 1200px;
	margin: 0 auto;
}
.wrepper::after {
	content: "";
	display: table;
	clear: both;
}
#headerTop {
	background: #363636;
	color: #898989;
	font-weight: 300;
	padding: 8px 0;
	font-size: 12px;
	border-bottom: 4px solid #ececec;
}
#headerTopLeft {
	float: left;
}
#headerTopLeft span {
	margin-right: 30px;
}
#headerTopRight {
	float: right;
	font-size: 20px;
}
#headerBottom {
	
}
#logo {
	float: left;
}
#logo img {
	height: 30px;
	margin-top: 30px;
}
#nav {
	float: right;
}
#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline-block;
}
#nav ul li a {
	display: block;
	padding: 44px 20px 36px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#nav ul li a:link,
#nav ul li a:visited {
	color: #696969;
	text-decoration: none;
	border-bottom: 4px solid #FFF;
}
#nav ul li a:hover {
	color: #e84e1b;
	border-bottom: 4px solid #e84e1b;
	background: #F5F2F1;
}
#hero {
	padding: 220px 0;
	text-align: center;
	background: url(images/hero.jpg) center center / cover no-repeat fixed;
}
#products {
	background: #F2F2F2;
	padding: 50px 0 120px;
	text-align: center;
}
#products .product {
	width: 200px;
	padding: 35px 35px 15px;
	margin-top: 100px;
	margin-right: 40px;
	background: #FFF;
	float: left;
	text-align: center;
	position: relative;
	top: 0;
	transition: 5s 2s all ease;
	
}
#products .product:hover {
	top: -50px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.7);
	transition: 1s all ease;
}
#products .product:nth-of-type(4n) {
	margin-right: 0;
}
#products .product span {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #D9D9D9;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -30px;
	border-radius: 30px;
	font-size: 30px;
}
#about {
	padding: 70px 0;
	background: url(images/about.jpg)center center / cover no-repeat fixed;
}
#aboutText {
	background: rgba(0,0,0,0.24);
	padding: 50px;
	width: 500px;
}


















